<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Project"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".About"></activity>
        <activity android:name=".Videos" />
        <activity android:name=".Psg1" />
        <activity android:name=".Passages" />
        <activity android:name=".help" />
        <activity android:name=".feedback_form" />
        <activity android:name=".sound_edit" />
        <activity android:name=".termsandcond" />
        <activity android:name=".prof_edit" />
        <activity android:name=".points" />
        <activity android:name=".settings" />
        <activity android:name=".friends" />
        <activity android:name=".advanced" />
        <activity android:name=".round_icon" />
        <activity android:name=".beginner_one" />
        <activity android:name=".lang_selection" />
        <activity android:name=".splashscreen">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".loginpage"/>
    </application>

</manifest>